*.sublime-workspace
*.sublime-project
build/main.exe
build/main.ilk
build/main.pdb
build/vc140.pdb
build/main.obj
build/.vs/under-london/v14/.suo
build/under-london.sln
build/under-london.VC.VC.opendb
build/under-london.VC.db
build/preprocessed.output
build/citysim
build/vcpkg
under-london.sln
under-london.VC.db
under-london.VC.VC.opendb
build/.vs
*.lnk
.idea/
